* {
	background-color: lightblue;
}

img {
    position:absolute;
    top:50%;
    left:50%;
    width:0;
    padding:0;
    margin:0;
    border:0 solid #000;
    background-color:#8b7b7b;
    animation: stuff 15.5s forwards;
 }
@keyframes stuff {
0% {
    width:0;
    top:50%;
    left:50%;
    width:0;
    margin0;
  }
/* 22.2% {
    width:0;
    top:50%;
    left:50%;
    margin:0;
 }
44.4% {
    width:500px;
    top:50%;
    left:50%;
    margin:-157px 0 0 -250px;
  }
66.6% {
    width:0;
    top:50%;
    left:50%;
    margin:0;
  }
77.7% {
    width:0;
    top:0;
    left:0;
    padding:0;
    border:0 solid #000;
  } */
100% {
    width:25%;
    top:10em;
    left:18em;
    padding:0.6em;
    border:0.1em double #000
  }
  
 